@{
    Layout = null;
    var urlStatic = WebContext.UrlStatic;
}


<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">


<!-- Mirrored from prium.github.io/phoenix/v1.20.1/pages/authentication/simple/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Jan 2025 07:04:31 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="@urlStatic/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="@urlStatic/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="@urlStatic/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="@urlStatic//assets/img/favicons/favicon.ico">
    <link rel="manifest" href="@urlStatic//assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="@urlStatic/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="@urlStatic/assets/vendors/simplebar/simplebar.min.js"></script>
    <script src="@urlStatic/assets/js/config.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="@urlStatic/assets/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="@urlStatic/assets/css/line.css">
    <link href="@urlStatic/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="@urlStatic/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="@urlStatic/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="@urlStatic/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
        var phoenixIsRTL = window.config.config.phoenixIsRTL;
        if (phoenixIsRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
</head>

<body>
    <main class="main" id="top">
        <div class="container">
            <div class="row flex-center min-vh-100 py-5">
                <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
                    <a class="d-flex flex-center text-decoration-none mb-4" href="@urlStatic/index.html">
                        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
                            <img src="@urlStatic/assets/img/icons/logo.png" alt="phoenix" width="58" />
                        </div>
                    </a>
                    <div class="text-center mb-7">
                        <h3 class="text-body-highlight">Sign In</h3>
                        <p class="text-body-tertiary">Get access to your account</p>
                        <form class="mb-3" method="post" asp-controller="Login" asp-action="Authen">
                            @Html.AntiForgeryToken()
                            <div class="mb-3 text-start">
                                <label class="form-label" for="email">Email address</label>
                                <div class="form-icon-container">
                                    <input class="form-control form-icon-input" id="txt_username" name="txt_username" type="text" placeholder="" />
                                    <span class="fas fa-user text-body fs-9 form-icon"></span>
                                </div>
                            </div>
                            <div class="mb-3 text-start">
                                <label class="form-label" for="password">Password</label>
                                <div class="form-icon-container" data-password="data-password">
                                    <input class="form-control form-icon-input pe-6" id="txt_password" name="txt_password" type="password" placeholder="" data-password-input="data-password-input" />
                                    <span class="fas fa-key text-body fs-9 form-icon"></span>
                                    <button class="btn px-3 py-0 h-100 position-absolute top-0 end-0 fs-7 text-body-tertiary" type="button" data-password-toggle="data-password-toggle">
                                        <span class="uil uil-eye show"></span>
                                        <span class="uil uil-eye-slash hide">
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row flex-between-center mb-7">
                                <div class="col-auto">
                                    <div class="form-check mb-0"><input class="form-check-input" id="basic-checkbox" type="checkbox" checked="checked" /><label class="form-check-label mb-0" for="basic-checkbox">Remember me</label></div>
                                </div>
                                <div class="col-auto"><a class="fs-9 fw-semibold" href="forgot-password.html">Forgot Password?</a></div>
                            </div>
                            <input type="hidden" name="returnUrl" value="@System.Net.WebUtility.HtmlEncode(ViewContext.HttpContext.Request.Query["ReturnUrl"])" />
                            <input type="hidden" name="txt_IpAddress" id="txt_IpAddress">
                            <button class="btn btn-primary w-100 mb-3" id="loginButton" type="submit">Login to Dashboard</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="@urlStatic/assets/vendors/popper/popper.min.js"></script>
    <script src="@urlStatic/assets/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="@urlStatic/assets/vendors/anchorjs/anchor.min.js"></script>
    <script src="@urlStatic/assets/vendors/is/is.min.js"></script>
    <script src="@urlStatic/assets/vendors/fontawesome/all.min.js"></script>
    <script src="@urlStatic/assets/vendors/lodash/lodash.min.js"></script>
    <script src="@urlStatic/assets/vendors/list.js/list.min.js"></script>
    <script src="@urlStatic/assets/vendors/feather-icons/feather.min.js"></script>
    <script src="@urlStatic/assets/vendors/dayjs/dayjs.min.js"></script>
    <script src="@urlStatic/assets/js/phoenix.js"></script>
    <script type="text/javascript">
        let userIp = "";
        // Hàm lấy IP từ API
        function fetchUserIp() {
            fetch('https://api.ipify.org?format=json')
                .then(response => response.json())
                .then(data => {
                    // Lưu IP vào biến
                    userIp = data.ip;
                    // Gán IP vào input hidden
                    document.getElementById('txt_IpAddress').value = userIp;
                })
                .catch(err => {
                    console.error("Error fetching IP: ", err);
                });
        }
        // Gọi hàm khi trang được tải
        window.onload = function () {
            fetchUserIp();
        };
    </script>
</body>
</html>
