<style>
    .modal-content {
        margin-top: 10% !important
    }

    .custom-modal-size .modal-dialog {
        max-width: 50%; /* Chiều rộng tối đa */
        width: auto; /* Chiều rộng tự động dựa trên nội dung */
    }

    .custom-modal-size .modal-content {
        height: auto; /* Chiều cao tối đa là 80% viewport */
        overflow-y: auto; /* Bật cuộn nếu nội dung vượt quá */
    }
    /* Làm mờ nền (chỉ áp dụng với phần bên ngoài modal) */
    .custom-modal-size.fade.ng-scope.ng-isolate-scope.in {
        background-color: rgba(0, 0, 0, 0.5); /* Nền đen mờ */
        position: fixed; /* Đảm bảo modal hiển thị trên tất cả */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1050; /* Giữ modal ở trên cùng */
        display: flex; /* Căn giữa nội dung modal */
        align-items: center;
        justify-content: center;
    }
</style>


<div class="card shadow-none border" data-component-card="data-component-card">
    <div class="card-header p-4 border-bottom bg-body">
        <div class="row g-3 justify-content-between align-items-center">
            <div class="col-12 col-md">
                <h4 class="text-body mb-0" data-anchor="data-anchor" style="text-align:center; color:red !important">{{title}}</h4>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="p-4 code-to-copy">
            <form name="editform" class="row g-3 needs-validation" novalidate="" method="post" ng-validate="validationOptions" ng-submit="submit($event)">
                <input class="form-control" id="UserNo" name="UserNo" ng-model="model.Id" type="hidden" disabled />
                <div class="col-md-4">
                    <label class="form-label" for="UserNo">Mã nhân viên</label>
                    <input class="form-control" id="UserNo" name="UserNo" ng-model="model.UserNo" type="text" disabled />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="UserName">UserLogin</label>
                    <input class="form-control" id="UserName" name="UserName" ng-model="model.UserName" type="text" required="" disabled />
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="FullName">Họ tên</label>
                    <input class="form-control" name="FullName" ng-model="model.FullName" type="text" required="" disabled>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="Department_id">Phòng ban</label>
                    <select class="form-select" ng-model="selectedDepartment" ng-change="onDepartmentChange()" required="" disabled>
                        <option ng-repeat="department in ListDepartment track by department.Id" value="{{department.Id}}">
                            {{department.DepartmentName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="Department_id">Chức danh</label>
                    <select class="form-select" ng-model="selectedPosition" ng-change="onJobTitleChange()" required="" disabled>
                        <option ng-repeat="Position in ListPosition track by Position.Id" value="{{Position.Id}}">
                            {{Position.PositionName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="Email">Email</label>
                    <input class="form-control" name="Email" ng-model="model.Email" type="email" required="" disabled>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="Phone">Phone</label>
                    <input class="form-control" name="Phone" ng-model="model.Phone" type="text" required="" disabled>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="Avatar">Avatar</label>
                    <img ng-if="model.DisplayImage" ng-src="{{model.DisplayImage}}" alt="Preview" style="max-width: 200px; margin-top: 10px;">
                </div>
                <div class="col-md-4">
                    <label for="IsActive" class="form-label">Kích hoạt</label>
                    <select typeof="select" class="form-select" ng-model="model.IsActive" disabled>
                        <option value="1">Kích hoạt</option>
                        <option value="0">Không kích hoạt</option>
                    </select>
                </div>
                <div class="flex-1 text-end">
                    <button class="btn btn-phoenix-primary px-5" type="button" ng-click="cancel()">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>