@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<base href="/">
<div class="content" ng-controller="Ctrl_Home" ng-view style="min-width: 85% !important;" >

<script src="/views/Home/controller.js" type="text/javascript"></script>
</div>
